<h2>Увійти</h2>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="password" placeholder="Пароль" required><br>
  <button type="submit">Увійти</button>
</form>
